<div class="container-fluid">
  <div class="row-fluid text-center" >
  	<div class="alert alert-error" style="display:none" <%=plugin("alert",{})%>>
	  <strong>Error!</strong><div id="create-error"></div>
	</div>
  </div>
  <div class="row-fluid">
  	<div class="span2">
       <form >
       	<legend>Create New Tag</legend>
      <div class="control-group">
        <label class="control-label" for="user">Name</label>
        <div class="controls">
          <input id="TagName" type="text" class="input-medium" placeholder="Name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Description</label>
        <div class="controls">
          <textarea  id="TagDescription" rows="4" class="input-medium" placeholder="Description"/>
        </div>
      </div>
  </form>
  	<button id="create-tag" class="btn btn-primary">Create</button>
  	
  </div>
    <div class="span10">
      <table class="table">
			<caption>Tags</caption>
		              <thead>
		                <tr>
		                  <th>Name</th>
		                  <th>Description</th>
		                  <th>&nbsp;</th>
		                </tr>
		              </thead>
		              <tbody>
			<%
			steal.dev.log("Rendering")
			for(i=0;i<this.length;++i){%>
				<tr <%= this[i]%> >
					<td><%=this[i].name%></td> <td><%=this[i].description%></td>
					<td><button class="close deleteTag">&times;</button></td>
				</tr>
			<%}%>
		 </tbody>
		</table>
    </div>
</div>
</div>

   


